body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
    flex-direction: column;
    justify-content: flex-start;
}
.fundo{
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
.usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.usuario img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.Primeira{
    border-radius: 20px;
    width: 500px;
    height: 300px;
   
}
.Segunda{
    display: flex;
    gap: 10px;
}
.Outros img{
    width: 60px;
    height: 300px;
    border-radius: 40px;

}

